<form method="POST" action="/player/<%=player.id%>?_method=PUT">
    <label>Last Name</label>
    <input type="text" name="lastName" value="<%= player.lastName %>">

    <label>First Name</label>
    <input type="text" name="firstName" value="<%= player.firstName %>">

    <label>Position</label>
    <input type="text" name="position" value="<%= player.position %>">

    <label>Jersey Number</label>
    <input type="text" name="jerseyNumber" value="<%= player.jerseyNumber %>">



    <input type="submit" value="Submit Changes">
</form>

