<div class="container">
  <h1 class="text-center">Created Players</h1>

  <% playerList.forEach(player =>{ %>
  <div class="well">
    <h2><%= player.lastName %></h2>
    <h2><%= player.firstName %></h2>
    <h3><%= player.position %></h3>
    <h3><%= player.jerseyNumber %></h3>
    <h3><%= player.salary %></h3>
    

    <form method="POST" action="/player/<%= player.id %>?_method=DELETE">
      <input class="btn btn-primary" type="submit" value="Delete">
    </form>
    <br>
    <form method="GET" action="/player/edit/<%= player.id %>">
      <input type="submit" class="btn btn-primary" value="Edit">
      </form>
    
  </div>
  <% }) %>
</div>
